.url-form {
    padding-top: 15px;
    width: 100%;
  }
  
  .full-width {
      width: 100%;
  }
  .submit-btn {

  }
  .loading-spinner {
      margin: auto;
      margin-top: 70px;
  }
  .exception-text {
    color: #ff0000;
  }

 